<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Emails for Staff
    </h1>
    <h2>
        Helen Charles: hchar@cansdale.edu
    </h2>
    <h2>
        Gary Carlsworth: gcarl@cansdale.edu
    </h2>
    <h2>
        Victor Red: vred@cansdale.edu
    </h2>
    <h2>
        Cecilia Barter: cbart@cansdale.edu
    </h2>
    <h2>
        Angel Perm: aperm@cansdale.edu
    </h2>
    <h2>
        Rick Micken: rmick@cansdale.edu
    </h2>

</body>
</html>